node_modules/
/input/boundaries/*
/input/lookups/*
/input/oas/*
/input/other/*
/input/parents/*
/input/centroids/*
/input/postcodes/*
/input/census/*
!/input/boundaries/uk22_bfe.json.gz
!/input/boundaries/uk22_bfc.json.gz
!/input/boundaries/uk22_bgc.json.gz
!/input/boundaries/uk22_buc.json.gz
/temp/*
/output/*
/config/ss/
/scripts/ss/
.DS_Store
